{
	email {$CADDY_EMAIL}
}

www.realmlabscrm.com {
	redir https://realmlabscrm.com{uri} permanent
}

realmlabscrm.com {
	encode gzip

	handle /api* {
		reverse_proxy api:3001
	}

	handle /health {
		reverse_proxy api:3001
	}

	handle {
		reverse_proxy web:3000
	}
}
